ul.horizontal-list {
  display: flex;
  //justify-content: space-between;
  margin-top: 0em;
  margin-left: -40px;
  flex-wrap: wrap;

  li {
    display:inline;
    margin-right: 1em;
  }

  li a {
    text-decoration: none;
    font-weight: normal;
  }

}

.card {
  padding: 1em;
  // border: 1px var(--highlight) dashed;
  width: 21em;
  min-height: 10em;
  height: auto;
  text-align: center;
  font-size: 1.1em;
  align-items: center;
  margin: 0.6em;
  // border-radius: 0.3em;
  // -webkit-box-shadow: 5px 5px 7px 1px #aaa; 
  // box-shadow: 5px 5px 7px 1px #aaa;
  box-shadow: 0 0 0 1px black, 0 0 0 3px var(--bg), 0 0 0 6px black, 0 0 0 6px black;

  .body {
    font-size: 1em;
  }

  hr {
    margin: 0.5em 0;
  }
  
  .header {
    @include title-font;
    font-size: 1.2em;
  }


  &:hover {
    background-color: var(--bg-secondary);
    
    .header, hr, p {
      color: var(--highlight);
    }
  }
  
}




/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 600px) {
  ul.horizontal-list li.card {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    a, .header {
      font-size: 1em;
    }
  }
}


header, footer {
  >:not(p) { // Don't display the site description in title font
    @include title-font;
  }
}